version: '2'
services:
  itemapplication:
    build:
      context: ./
    image: item-docker
    environment:
      spring.data.mongodb.host: mongo
      spring.data.mongodb.port: 27017
      spring.data.mongodb.database: itemizedBill
      test.billpath: ~/
      SERVER_PORT: 9002
    depends_on: 
      - mongo
    links:
      - mongo
    tty: false
    ports:
      - 9002:9002
  mongo:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - /data/db